In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('CVD_cleaned.csv')

In [5]:
data.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [6]:
data.shape

(308854, 19)

In [7]:
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [8]:
le = LabelEncoder()

In [18]:
data['General_Health'] = le.fit_transform(data['General_Health'])
data['Exercise'] = le.fit_transform(data['Exercise'])
data['Depression'] = le.fit_transform(data['Depression'])
data['Diabetes'] = le.fit_transform(data['Diabetes'])
data['Arthritis'] = le.fit_transform(data['Arthritis'])
data['Sex'] = le.fit_transform(data['Sex'])
data['Smoking_History'] = le.fit_transform(data['Smoking_History'])

In [19]:
me = MinMaxScaler()

In [23]:
data['BMI']= data['BMI'].astype(int)

In [39]:
data[['BMI']] = me.fit_transform(data[['BMI']])
data[['Height_(cm)']] = me.fit_transform(data[['Height_(cm)']])
data[['Weight_(kg)']] = me.fit_transform(data[['Weight_(kg)']])
data[['Alcohol_Consumption']] = me.fit_transform(data[['Alcohol_Consumption']])
data[['Fruit_Consumption']] = me.fit_transform(data[['Fruit_Consumption']])
data[['Green_Vegetables_Consumption']] = me.fit_transform(data[['Green_Vegetables_Consumption']])
data[['FriedPotato_Consumption']] = me.fit_transform(data[['FriedPotato_Consumption']])

In [42]:
data = data.drop(['Checkup','Skin_Cancer','Other_Cancer','Age_Category'],axis = 1)

In [43]:
data.head()

,General_Health,Exercise,Heart_Disease,Depression,Diabetes,Arthritis,Sex,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption,Green_Vegetable_Consumption
0,3,0,No,0,0,1,0,0.393333,0.028761,0.022989,1,0.000000,0.394737,0.125000,0.176471,0.216216
1,4,0,Yes,0,2,0,0,0.493333,0.194576,0.183908,0,0.000000,0.394737,0.000000,0.058824,0.000000
2,4,1,No,0,2,0,0,0.480000,0.236878,0.241379,0,0.133333,0.157895,0.023438,0.235294,0.040541
3,3,1,Yes,0,2,0,1,0.593333,0.255493,0.183908,0,0.000000,0.394737,0.234375,0.117647,0.405405
4,2,0,No,0,0,0,1,0.666667,0.236878,0.137931,1,0.000000,0.105263,0.031250,0.000000,0.054054

In [44]:
data['Heart_Disease'] = le.fit_transform(data['Heart_Disease'])

In [46]:
X = data.drop(['Heart_Disease'],axis = 1)
y = data['Heart_Disease']

In [49]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 42)

In [50]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [51]:
lr.fit(X_train,y_train)

LogisticRegression()

In [52]:
lr.score(X_test,y_test)

0.9184603828321289

In [53]:
from sklearn.neighbors import KNeighborsClassifier
kn = KNeighborsClassifier()

In [59]:
kn.fit(X_train,y_train)

KNeighborsClassifier()

In [60]:
kn.score(X_test,y_test)

0.9087212163597275

In [61]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
pred = gnb.fit(X_train,y_train)

In [62]:
pred.score(X_train,y_train)

0.8796883094456915